{% extends '_base.html' %}
{% load crispy_forms_tags %}

{% block title %}
{{ block.super }} - Log In
{% endblock title %}

{% block content %}
    <div class='container'>
        <div class='row'>
            <div class='col-md-6 mx-auto'>
                <form class='form-margin' action="" method='post'>
                    <h1>Log In</h1>
                    {% csrf_token %}
                    {% if form.non_field_errors %}
                        <div class="alert alert-block alert-danger">
                            {% if form_error_title %}<h4 
                            class="alert-heading">
                            {{ form_error_title }}</h4>{% endif %}
                            <ul class="m-0">
                                {{ form.non_field_errors|unordered_list }}
                            </ul>
                        </div>
                    {% endif %}
                    {% for field in form %}
                            <div class='my-1'>
                                {{ field|as_crispy_field }}
                            </div>
                            {% if field.help_text %}
                                <span class='helptext'>
                                    {{ field.help_text }}
                                </span>
                            {% endif %}
                    {% endfor %}
                    <button class='mybtn btn btn-primary' type='submit'>Log In</button>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}