{% extends '_base.html' %}
{% load crispy_forms_tags %}

{% block title %}
{{ block.super }} - Change Password
{% endblock title %}

{% block content %}
    <div class='container'>
        <div class='row'>
            <div class='col-md-6 mx-auto'>
                <form class='form-margin'
                action="{% url 'account_login' %}?next={{ next }}"
                method='post'>
                    <h2 class='text-center'>Change Password</h2>  
                    {% csrf_token %}
                    {% for field in form %}
                            <div class='my-2'>
                                {{ field|as_crispy_field }}
                            </div>
                            {% if field.help_text %}
                                <span class='helptext'>
                                    {{ field.help_text }}
                                </span>
                            {% endif %}
                    {% endfor %}
                    <div class='col-md-4 mx-auto'>
                        <button class='mybtn btn btn-primary col-12' 
                            type='submit'>Change Password</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}