{% extends '_base.html' %}
{% load crispy_forms_tags %}

{% block title %}Change Password{% endblock title %}

{% block content %}
    <div class='container'>
        <div class='row'>
            <div class='col-md-6 mx-auto'>
                <form class='form-margin' action="" method='post'>
                    <h2>Change Password</h2>
                    {% csrf_token %}
                    {% for field in form %}
                            <div class='my-1'>
                                {{ field|as_crispy_field }}
                            </div>
                            {% if field.help_text %}
                                <span class='helptext'>
                                    {{ field.help_text }}
                                </span>
                            {% endif %}
                    {% endfor %}
                    <button class='mybtn btn btn-primary' 
                        type='submit'>Change Password</button>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}