.navbar-button-left {
    margin-right: 10px;
}

/* Buttons */
.mybtn {
    background-color: rgb(0, 184, 184);
    border-color: rgb(0, 184, 184);
}
.mybtn:hover {
    background-color: rgb(0, 150, 150);
    border-color: rgb(0, 150, 150);
}
.container-photo {
    position: relative;
    text-align: center;
    color: white;
}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.space-for-search {
    margin-top: 7px;
    margin-bottom: 7px;
}
.user-list-avatars {
    object-fit: cover;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
a {
    text-decoration: none;
    color: rgb(0, 99, 99);
}
.page-link {
    color: rgb(0, 99, 99);
}
.dropdown-item.active,
.dropdown-item:active {
    background-color: rgb(0, 184, 184);
}
.form-check-input:checked {
    background-color: rgb(0, 184, 184);
    border-color: rgb(0, 184, 184);
}
.page-item.active .page-link {
    background-color: rgb(0, 184, 184);
    border-color: rgb(0, 184, 184);
}

.my-form-control {
    border-radius: unset;
    border: unset;
    border-color: #ced4da;
    border-top: 1px solid #c7cdd3;
}