.navbar-button-left {
    margin-right: 10px;
}

/* Buttons */
.mybtn {
    background-color: rgb(0, 184, 184);
    border-color: rgb(0, 184, 184);
}
.mybtn:hover {
    background-color: rgb(0, 150, 150);
    border-color: rgb(0, 150, 150);
}
.container-photo {
    position: relative;
    text-align: center;
    color: white;
}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.space-for-search {
    margin-top: 7px;
    margin-bottom: 7px;
}
.user-list-avatars {
    object-fit: cover;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
a {
    text-decoration: none;
}