<div class='col-12 mt-3'>
<div id="carouselExampleIndicators" 
    class="carousel carousel-dark slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        {% for image_object in startup_images %}
        {% comment %} {% if image_object.image %} {% endcomment %}
        {% if forloop.counter == 1 %}
            <div class="carousel-item active">
                <img  src="{{ image_object.image.url}}"
                class='d-block w-100'>
            </div>
        {% else %}
            <div class="carousel-item">
            <img  src="{{ image_object.image.url}}"
                class='d-block w-100'>
            </div>
        {% endif %}
            <button class="carousel-control-prev" type="button" 
                    data-bs-target="#carouselExampleIndicators" 
                    data-bs-slide="prev">
              <span class="carousel-control-prev-icon" 
                aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" 
                    data-bs-target="#carouselExampleIndicators" 
                    data-bs-slide="next">
              <span class="carousel-control-next-icon" 
                aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
        {% comment %} {% endif %} {% endcomment %}
        {% endfor %}
    </div>
  </div>
</div>