{% load static %}

<div class="col-12">
    <a style='color:#212529' 
        href="{{ startup.get_absolute_url }}">
    <div class='card'>
        <div class="card-body">
            <div class='col-auto px-1'>
                <h5 class="card-title">
                    {{ startup.title }}
                </h5>
            </div>
            <h6 class="card-subtitle mb-2 text-muted">
                Founded: {{ startup.founded|date:'F jS, Y' }}
            </h6>
            <p class="card-text">
                {{ startup.description|truncatewords:50 }}
            </p>
        </div>
        {% if startup.web_site %}
            <div class='card-footer'>
                <object  type="owo/uwu">   
                    <a href='{{ startup.web_site }}'>
                        {{ startup.web_site }}
                    </a>
                </object>
            </div>
        {% endif %}
    </div>
    </a>
</div>
