{% extends 'startups/base_startups.html' %}

{% block title %}
{{ block.super }} - Startups
{% endblock title %}

{% block content %}
    <div class='container'>
        <h1 class='text-center'>Startups</h1>
        {% include 'startups/snippets/startup_list_get_form.html' %}
        <div class="row row-cols-1 g-2">
            {% for startup in startup_list %}
                {% include 'startups/snippets/startup_card.html' %}
            {% endfor %}
        </div>
        {% block footer %}
        {{ block.super }}
        {% endblock footer %}
    </div>
{% endblock content %}