<!doctype html>
{% load static %}
{% load tz_detect %}
{% url 'home' as home_url %}
{% url 'about' as about_url %}
{% url 'account_change_password' as change_password_url %}
{% url 'account_logout' as logout_url %}
{% url 'users:user_list' as user_list_url %}
{% url 'startups:startup_list' as startup_list_url %}
{% url 'startups:user_startups' as user_startups_url %}
{% url 'startups:startup_create' as startup_create_url %}
{% url 'ads:ad_list' as ad_list_url %}
{% url 'ads:user_ads' as user_ads_url %}
{% url 'ads:ad_create' as ad_create_url %}
{% url 'ads:ads_i_responded' as ads_i_responded_url %}
{% url 'responses:response_list' as response_list_url %}
{% url 'contacts:contact_form' as contact_form_url %}

<html>
    <head>
        <title>
            {% block title %}Wostart{% endblock title %}
        </title>
        {% include 'base/head.html' %}
        {% block head %}
        {% endblock head %}
    </head>
    <body class="d-flex flex-column min-vh-100">
        {% include 'base/navbar.html' %}
        {% include 'base/before_block_content.html' %}
            {% include 'base/messages.html' %}
            {% block content %}
            {% endblock content %}
        {% include 'base/before_closing_body.html' %}
        <footer class="footer mt-auto bg-light py-3">
            <div class="container">
                <div class='row justify-content-between'>
                    <p class="col-auto text-muted my-0 mx-md-1 mx-auto">Wostart &copy; 2022 Company, Inc</p>
                    <p class='col-auto my-0 mx-md-1 mx-auto'>Email: 1wostart@gmail.com</p>
                </div>
            </div>
        </footer>
    {% tz_detect %}
    </body>
</html>