<!doctype html>
{% load static %}
{% url 'home' as home_url %}
{% url 'about' as about_url %}
{% url 'users:user_list' as user_list_url %}
{% url 'startups:startup_list' as startup_list_url %}
{% url 'account_change_password' as change_password_url %}
{% url 'account_logout' as logout_url %}
{% url 'startups:user_startups' as user_startups_url %}

<html>
    <head>
        <title>
            {% block title %}Wostart{% endblock title %}
        </title>
        {% include 'base/head.html' %}
    </head>
    <body>
        {% include 'base/navbar.html' %}
        {% include 'base/before_block_content.html' %}
            {% include 'base/messages.html' %}
            {% block content %}
            {% endblock content %}
        {% include 'base/before_closing_body.html' %}
    </body>
</html>